
  <section class="section">
    <div class="content">
      If Rt is to remain at <strong>{{ latestrt }}</strong>,
      the projected number of total cases in South Africa will be <strong>{{ future }}</strong> in 30 days.
    </div>
  </section>

  <section class="section">
    <div class="content">{{ G1|safe }}</div>
  </section>

  <section class="section">
    <div class="content">More scenarios are calcualted in the plot below.</div>
  </section>

  <section class="hero is-info is-bold">
    <div class="hero-body">
        <h2 class="subtitle">Tips</h2>
        <div class="content">
          <ul>
            <li>Move the slider to see the effect of different Rt values.</li>
            <li>Use the arrows icon (<span class="icon"><i class="fas fa-expand-arrows-alt"></i></span>) to auto zoom if changes on the plot seem to small.</li>
          </ul>
        </div>
    </div>
  </section>

  <section class="section">
    <div class="content">{{ G2|safe }}</div>
  </section>
