<html>
  <head>
    <meta charset="utf-8">
    <title>Covid-19 Treads in South Africa</title>
  </head>
  <body>
    <div><img src="data:image/png;base64,{{ country }}" alt="" width="800"></div><br>
    <div><img src="data:image/png;base64,{{ states }}" alt="" width="800"></div><br>
    <div><img src="data:image/png;base64,{{ districts1 }}" alt="" width="800"></div><br>
    <div><img src="data:image/png;base64,{{ districts2 }}" alt="" width="800"></div><br>

    <div>{{ debug }}</div>

    <div>Source: Data Science for Social Impact Research Group @ University of Pretoria, Coronavirus COVID-19 (2019-nCoV) Data Repository for South Africa. Available on: https://github.com/dsfsi/covid19za.</div>
    <div>Copyright © covid19trends.co.za</div>
  </body>
</html>
