  
  <div class="columns is-mobile has-text-centered">
    <div class="column">
      <div class="box">
        <p class="heading">South African Covid-19 Summary</p>
      </div>
    </div>
  </div>

  <div class="columns is-mobile has-text-centered">
    <div class="column is-one-third">
      <div class="box">
        <p class="heading">Total Cases</p>
        <p class="title">{{ content.cases }}</p>
      </div>
    </div>
    <div class="column is-one-third">
      <div class="box">
        <p class="heading">Total Recovered</p>
        <p class="title">{{ content.recovered }}</p> 
      </div>
    </div>
    <div class="column is-one-third">
      <div class="box">
        <p class="heading">Total Active</p>
        <p class="title">{{ content.active }}</p> 
      </div>
    </div>
  </div>

  <div class="columns is-mobile has-text-centered">
    <div class="column is-one-third">
      <div class="box">
        <p class="heading">Total Tests</p>
        <p class="title">{{ content.tests }}</p> 
      </div>
    </div>
    <div class="column is-one-third">
      <div class="box">
        <p class="heading">Total Deaths</p>
        <p class="title">{{ content.deaths }}</p> 
      </div>
    </div>
    <div class="column is-one-third">
      <div class="box">
        <p class="heading">Reproduction No.</p>
        <p class="title">{{ content.latest_rt}}</p> 
      </div>
    </div>
  </div>

  <div class="content">
    Case data last updated on <strong>{{ content.latest_date }}</strong>.
  </div>