{% extends "base.html" %}
{% load static %}

{% block head %}
  <title>Covid-19 Trends in South Africa</title>
{% endblock %}

{% block suntitle %}
<h2 class="subtitle">Effective Reproduction Number</h2>
{% endblock %}

{% block content %}

<div class="container">

  <section class="section">
    <div class="columns is-mobile has-text-centered">
      <div class="column">
        <div class="box">
          <p class="heading">South African Covid-19 Summary</p>
        </div>
      </div>
    </div>

    <div class="columns is-mobile has-text-centered">
      <div class="column is-one-third">
        <div class="box">
          <p class="heading">Total Cases</p>
          <p class="title">{{ content.cases }}</p>
        </div>
      </div>
      <div class="column is-one-third">
        <div class="box">
          <p class="heading">Total Recovered</p>
          <p class="title">{{ content.recovered }}</p> 
        </div>
      </div>
      <div class="column is-one-third">
        <div class="box">
          <p class="heading">Total Deaths</p>
          <p class="title">{{ content.deaths }}</p> 
        </div>
      </div>
    </div>

    <div class="columns is-mobile has-text-centered">
      <div class="column is-one-third">
        <div class="box">
          <p class="heading">Total Active</p>
          <p class="title">{{ content.active }}</p> 
        </div>
      </div>
      <div class="column is-one-third">
        <div class="box">
          <p class="heading">Total Tests</p>
          <p class="title">{{ content.tests }}</p> 
        </div>
      </div>
      <div class="column is-one-third">
        <div class="box">
          <p class="heading">Reproduction No.</p>
          <p class="title">{{ content.latest_rt}}</p> 
        </div>
      </div>
    </div>

    <div class="content">
      Case data last updated on <strong>{{ content.latest_date }}</strong>. 
      All the Covid-19 data are curated and verified by the <a href="#ref1">DSFSI</a>.
      Thus, there is a delay from the data announced by the various government departments.
    </div>
  </section>

  <section class="section">
    <div class="content">To find out how fast Covid-19 is spreading, we can
      calculate the Effective Reproduction Number (<strong>Rt</strong>) as the pandemic progresses. This number tells us,
      on average, how many people each infected person is likely to infect.</div>
    <div class="content">For as long as Rt is above 1, the virus is spreading rapidly.
      The challenge is to get Rt below 1 to stop the spread.</div>
    <div class="content">This website provides up to date Rt charts for the
      country, provinces, districts and subdistricts (where data is available).
      Only areas with significant spreading will be shown.</div>
  </section>

</div>

<section class="hero is-warning is-bold">
  <div class="hero-body">
      <h2 class="subtitle">With enough applied knowledge we can beat the virus!</h2>
  </div>
</section>

<div class="container">

  <section class="section">
    <div class="sharethis-inline-share-buttons"></div>
  </section>

  <section class="section">
    <div class="content">
      The latest Rt value for the country is <strong>{{ content.latest_rt }}</strong>,
      last calculated on {{ content.latest_rt2date }}. This means that each newly infected
      person is likely to infect {{ content.latest_rt }} more people.
    </div>
    <div class="content">
      The country Rt is calculated with the new version 2 of the Rt model!
    </div>
  </section>

  <section class="section">
      <div class="content">{{ content.plot_rt_country|safe }}</div>
  </section>

  <section class="hero is-info is-bold">
    <div class="hero-body">
        <h2 class="subtitle">Tips</h2>
        <div class="content">
          <ul>
            <li>You can interact with all the plots. </li>
            <li>Use the home icon (<span class="icon"><i class="fas fa-home"></i></span>) to reset the plot to its original zoom.</li>
          </ul>
        </div>
    </div>
  </section>

  <section class="section">
    <div class="columns is-mobile has-text-centered">
      <div class="column">
        <div class="box">
          <p class="heading">Latest Provincial Reproduction Numbers</p>
        </div>
      </div>
    </div>

    <div class="columns is-mobile has-text-centered">
      <div class="column is-one-third">
        <div class="box">
          <p class="heading">Eastern Cape</p>
          <p class="title">{{ content.rt_ec }}</p>
        </div>
      </div>
      <div class="column is-one-third">
        <div class="box">
          <p class="heading">Free State</p>
          <p class="title">{{ content.rt_fs }}</p>
        </div>
      </div>
      <div class="column is-one-third">
        <div class="box">
          <p class="heading">Guateng</p>
          <p class="title">{{ content.rt_gp }}</p>
        </div>
      </div>
    </div>

    <div class="columns is-mobile has-text-centered">
      <div class="column is-one-third">
        <div class="box">
          <p class="heading">Kwazulu Natal</p>
          <p class="title">{{ content.rt_kzn }}</p>
        </div>
      </div>
      <div class="column is-one-third">
        <div class="box">
          <p class="heading">Limpopo</p>
          <p class="title">{{ content.rt_lp }}</p>
        </div>
      </div>
      <div class="column is-one-third">
        <div class="box">
          <p class="heading">Mpumalanga</p>
          <p class="title">{{ content.rt_mp }}</p>
        </div>
      </div>
    </div>

    <div class="columns is-mobile has-text-centered">
      <div class="column is-one-third">
        <div class="box">
          <p class="heading">northen Cape</p>
          <p class="title">{{ content.rt_nc }}</p>
        </div>
      </div>
      <div class="column is-one-third">
        <div class="box">
          <p class="heading">North West</p>
          <p class="title">{{ content.rt_nw }}</p>
        </div>
      </div>
      <div class="column is-one-third">
        <div class="box">
          <p class="heading">Western Cape</p>
          <p class="title">{{ content.rt_wc }}</p>
        </div>
      </div>
    </div>

    <div class="content">
      Last calculated on: <strong>{{ content.latest_rt1date }}</strong>.
    </div>

    <div class="content">{{ content.plot_rt_states|safe }}</div>

  </section>

  <section class="hero is-danger is-bold">
    <div class="hero-body">
      <div class="content">
        <h3 class="subtitle">The following assumptions were applied to calculate the trends</h3>
        <h4 class="subtitle">Model V1</h4>
        <ol>
          <li>Applies to provincial Rt plots.</li>
          <li>Smoothed average data is used.</li>
          <li>The error bands indicate the 90% credibility interval.</li>
          <li>For regions with low case rates, only the date ranges with the most significant change is shown.</li>
          <li>The lag time between testing and positive case identification is not taken into account, due to the difficulty to obtain access to testing data for regions.</li>
        </ol>
        <h4 class="subtitle">Model V2</h4>
        <ol>
          <li>Where testing data is available, an advanced multi-variable model can be used.</li>
          <li>Applies to South Africa country Rt plot.</li>
          <li>Testing and case data are the two input dimensions for the model.</li>
          <li>Considering 10 days for the virus to incubate, all case data are back-dated.</li>
          <li>Forecasted plots will use the latest calculated Rt from this model.</li>
        </ol>
      </div>
    </div>
  </section>

  <section class="section">
      <div class="content"><a href="rtmodel1">Get</a> the first version of the Rt model for South Africa.</div>
      <div class="content"><a href="export">Download</a> a png version of the Rt plots for publication.</div>
  </section>

</div>

<section class="hero is-dark is-bold">
  <div class="hero-body">
      <h2 class="subtitle">Covid-19 Case Data</h2>
  </div>
</section>

<div class="container">

  <section class="section">
      <div class="content">{{ content.plot_combined_cases|safe }}</div>
      <div class="content">{{ content.plot_stats|safe }}</div>
      <div class="content">{{ content.plot_daily_cases|safe }}</div>
  </section>

</div>


<section class="hero is-warning is-bold">
  <div class="hero-body">
      <h2 class="subtitle">Forecast</h2>
  </div>
</section>

<div class="container">

  <div id="output_box">
    <br>
    <section class="hero is-link is-bold">
      <div class="hero-body">
        <div class="container">
          <h2 class="subtitle">Crunching the latest numbers...</h2>
          <progress class="progress is-large is-info" max="100"></progress>
        </div>
      </div>
    </section>
  </div>
  
  <script>
    $(document).ready(function() {
      $('#output_box').load('/forecast/')
    });
  </script>

</div>

<section class="hero is-success is-bold">
  <div class="hero-body">
      <h2 class="subtitle">To help improve the website, please complete this quick survey: 
        <a class="button is-light" href="https://docs.google.com/forms/d/e/1FAIpQLSeOQO1JCP9YZndO03D5O4o8bowdQCbEG-lwRmvDEjPLLdHDKw/viewform" target="_blank">Survey</a>
      </h2>
  </div>
</section>

{% endblock %}
