
  <section class="section">
    <div class="content">{{ content.plot_analysis_for_prov|safe }}</div>
  </section>

  <section class="hero is-info is-bold">
    <div class="hero-body">
        <h2 class="subtitle">Tips</h2>
        <div class="content">
          <ul>
            <li>You can interact with all the plots. </li>
            <li>Use the home icon (<span class="icon"><i class="fas fa-home"></i></span>) to reset the plot to its original zoom.</li>
            <li>Move the slider to see the effect of different types of data.</li>
            <li>Use the arrows icon (<span class="icon"><i class="fas fa-expand-arrows-alt"></i></span>) to auto zoom if changes on the plot seem to small.</li>
          </ul>
        </div>
    </div>
  </section>

  <section class="section">
      <div class="content">{{ content.plot_analysis_deaths|safe }}</div>
  </section>